@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: oldlace;
    font-family: 'Poppins', sans-serif;
}
.responsive{
    height: auto;
    width: 100%;
}
.articles{
    
    padding: 2rem;
    border-radius: 30px;
}
.articles:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2)
}
.articles1{
    margin: 1rem;
}