<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Review website </title>
        {% endif %}
    </head>
    <body>
        <ul>
            {% for source in sources %}
            <h4><a href="/article/{{source.id}}">
              <p class="card-text">{{source.id}}</p>
          </a></h4>
          <p>{{source.description}}</p>
    
            {% endfor %}
  
      </ul>
      </body>
</html>