
{% macro displaySourceList(source_list) %}


<div class="container-fluid">

    <div class="row">
        {% for sources in source_list %}
        <div class="col-md-4 ">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>{{ sources.name}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{ sources.description}}</p>
                    <a href="/news-source{{ sources.url }}" class="btn btn-info mb-2">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endmacro %}